<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pool-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,215},{662,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,235}}</string>
                <key>sourceSize</key>
                <string>{662,235}</string>
            </dict>
            <key>pool-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{175,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,374}}</string>
                <key>sourceSize</key>
                <string>{175,374}</string>
            </dict>
            <key>pool-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,452},{93,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,644}}</string>
                <key>sourceSize</key>
                <string>{93,644}</string>
            </dict>
            <key>pool-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{787,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,181}}</string>
                <key>sourceSize</key>
                <string>{787,181}</string>
            </dict>
            <key>pool-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{600,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,142}}</string>
                <key>sourceSize</key>
                <string>{600,142}</string>
            </dict>
            <key>pool-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,464},{101,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,559}}</string>
                <key>sourceSize</key>
                <string>{101,559}</string>
            </dict>
            <key>pool-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,604},{161,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,559}}</string>
                <key>sourceSize</key>
                <string>{161,559}</string>
            </dict>
            <key>pool-2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,215},{563,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,109}}</string>
                <key>sourceSize</key>
                <string>{563,109}</string>
            </dict>
            <key>pool-2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,340},{295,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,284}}</string>
                <key>sourceSize</key>
                <string>{295,284}</string>
            </dict>
            <key>rivers-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{155,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,614}}</string>
                <key>sourceSize</key>
                <string>{155,614}</string>
            </dict>
            <key>rivers-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{730,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,277}}</string>
                <key>sourceSize</key>
                <string>{730,277}</string>
            </dict>
            <key>rivers-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{733,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{733,211}}</string>
                <key>sourceSize</key>
                <string>{733,211}</string>
            </dict>
            <key>rivers-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,179},{159,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,328}}</string>
                <key>sourceSize</key>
                <string>{159,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-other.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d87333ac94881e8aaeb0114d0d9fe8:1/1$</string>
            <key>textureFileName</key>
            <string>B-other.png</string>
        </dict>
    </dict>
</plist>
