<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,513},{81,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,222}}</string>
                <key>sourceSize</key>
                <string>{81,222}</string>
            </dict>
            <key>food-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,635},{177,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,113}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>food-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,675},{210,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,219}}</string>
                <key>sourceSize</key>
                <string>{210,219}</string>
            </dict>
            <key>food-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1909},{191,136}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{191,136}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>food-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,677},{104,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,82}</string>
            </dict>
            <key>food-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,526},{142,94}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,94}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>food-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,513},{120,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,226}}</string>
                <key>sourceSize</key>
                <string>{120,226}</string>
            </dict>
            <key>food-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1905},{117,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>food-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1909},{137,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,107}}</string>
                <key>sourceSize</key>
                <string>{137,107}</string>
            </dict>
            <key>food-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,596},{77,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,220}}</string>
                <key>sourceSize</key>
                <string>{77,220}</string>
            </dict>
            <key>food-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,750},{207,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,165}}</string>
                <key>sourceSize</key>
                <string>{207,165}</string>
            </dict>
            <key>food-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,487},{204,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,192}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>food-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,526},{149,150}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>food-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,622},{108,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,95}</string>
            </dict>
            <key>kitchen_01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{127,633}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,633}}</string>
                <key>sourceSize</key>
                <string>{143,641}</string>
            </dict>
            <key>kitchen_01-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{127,631}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,631}}</string>
                <key>sourceSize</key>
                <string>{143,641}</string>
            </dict>
            <key>kitchen_01-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{127,591}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,591}}</string>
                <key>sourceSize</key>
                <string>{143,641}</string>
            </dict>
            <key>kitchen_01-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1905},{128,541}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{128,541}}</string>
                <key>sourceSize</key>
                <string>{142,641}</string>
            </dict>
            <key>kitchen_02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,629}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{172,629}}</string>
                <key>sourceSize</key>
                <string>{178,643}</string>
            </dict>
            <key>kitchen_02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,637}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{176,637}}</string>
                <key>sourceSize</key>
                <string>{178,643}</string>
            </dict>
            <key>kitchen_03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,235},{231,276}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,276}}</string>
                <key>sourceSize</key>
                <string>{249,280}</string>
            </dict>
            <key>kitchen_03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{231,276}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{231,276}}</string>
                <key>sourceSize</key>
                <string>{249,280}</string>
            </dict>
            <key>kitchen_04-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,487},{235,295}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{235,295}}</string>
                <key>sourceSize</key>
                <string>{259,325}</string>
            </dict>
            <key>kitchen_04-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,285},{239,299}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{239,299}}</string>
                <key>sourceSize</key>
                <string>{259,325}</string>
            </dict>
            <key>kitchen_05-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1273},{630,378}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{630,378}}</string>
                <key>sourceSize</key>
                <string>{694,398}</string>
            </dict>
            <key>kitchen_05-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,641},{630,378}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{630,378}}</string>
                <key>sourceSize</key>
                <string>{694,398}</string>
            </dict>
            <key>kitchen_06-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{497,483}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{497,483}}</string>
                <key>sourceSize</key>
                <string>{533,487}</string>
            </dict>
            <key>kitchen_06-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{509,483}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{509,483}}</string>
                <key>sourceSize</key>
                <string>{533,487}</string>
            </dict>
            <key>kitchen_07-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,468},{247,237}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,48},{247,237}}</string>
                <key>sourceSize</key>
                <string>{301,285}</string>
            </dict>
            <key>kitchen_07-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{299,281}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{299,281}}</string>
                <key>sourceSize</key>
                <string>{301,285}</string>
            </dict>
            <key>room-line-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2035},{6,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,110}}</string>
                <key>sourceSize</key>
                <string>{6,110}</string>
            </dict>
            <key>room-line-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,633},{6,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,110}}</string>
                <key>sourceSize</key>
                <string>{6,110}</string>
            </dict>
            <key>room-line-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,633},{6,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,110}}</string>
                <key>sourceSize</key>
                <string>{6,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-room3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af19804fc775146b91621bd73803088:1/1$</string>
            <key>textureFileName</key>
            <string>B-room3.png</string>
        </dict>
    </dict>
</plist>
