<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bridge-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1350},{149,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,175}}</string>
                <key>sourceSize</key>
                <string>{149,175}</string>
            </dict>
            <key>bridge-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1619},{133,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,178}}</string>
                <key>sourceSize</key>
                <string>{133,178}</string>
            </dict>
            <key>field-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1512},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>field-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1484},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>flower-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1328},{82,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{82,89}</string>
            </dict>
            <key>flower-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,689},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>flower-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{798,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,323}}</string>
                <key>sourceSize</key>
                <string>{798,323}</string>
            </dict>
            <key>flower-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,681},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>line-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,327},{293,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,10}}</string>
                <key>sourceSize</key>
                <string>{293,10}</string>
            </dict>
            <key>other-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,82}}</string>
                <key>sourceSize</key>
                <string>{816,82}</string>
            </dict>
            <key>other-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,810},{355,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,271}}</string>
                <key>sourceSize</key>
                <string>{355,271}</string>
            </dict>
            <key>other-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{519,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,416}}</string>
                <key>sourceSize</key>
                <string>{519,416}</string>
            </dict>
            <key>other-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,523},{438,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,445}}</string>
                <key>sourceSize</key>
                <string>{438,445}</string>
            </dict>
            <key>pavilion-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1601},{210,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,217}}</string>
                <key>sourceSize</key>
                <string>{210,217}</string>
            </dict>
            <key>pavilion-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,339},{277,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,290}}</string>
                <key>sourceSize</key>
                <string>{277,290}</string>
            </dict>
            <key>pavilion-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1082},{348,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,271}}</string>
                <key>sourceSize</key>
                <string>{348,271}</string>
            </dict>
            <key>room-fountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1150},{175,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,145}</string>
            </dict>
            <key>room-ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1239},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>room-pool-301x206.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1813},{195,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>room-way-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,86},{209,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,128}}</string>
                <key>sourceSize</key>
                <string>{209,128}</string>
            </dict>
            <key>room-way-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,950},{328,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,256}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>room-way-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,810},{101,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,338}}</string>
                <key>sourceSize</key>
                <string>{101,338}</string>
            </dict>
            <key>single-point-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,358},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>single-point-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,339},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>single-way-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{685,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,601}}</string>
                <key>sourceSize</key>
                <string>{685,601}</string>
            </dict>
            <key>single-way-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,327},{257,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,494}}</string>
                <key>sourceSize</key>
                <string>{257,494}</string>
            </dict>
            <key>stage-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,963},{167,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,151}}</string>
                <key>sourceSize</key>
                <string>{167,151}</string>
            </dict>
            <key>stage-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1083},{322,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,231}}</string>
                <key>sourceSize</key>
                <string>{322,231}</string>
            </dict>
            <key>stage-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,963},{274,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,276}}</string>
                <key>sourceSize</key>
                <string>{274,276}</string>
            </dict>
            <key>tree-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1651},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>tree-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1813},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>tree-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{193,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,209}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>tree-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1527},{195,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,182}}</string>
                <key>sourceSize</key>
                <string>{195,182}</string>
            </dict>
            <key>tree-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1724},{180,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,209}}</string>
                <key>sourceSize</key>
                <string>{180,209}</string>
            </dict>
            <key>tree-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1484},{180,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,219}}</string>
                <key>sourceSize</key>
                <string>{180,219}</string>
            </dict>
            <key>tree-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1239},{243,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,244}}</string>
                <key>sourceSize</key>
                <string>{243,244}</string>
            </dict>
            <key>tree-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1413},{186,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,231}}</string>
                <key>sourceSize</key>
                <string>{186,231}</string>
            </dict>
            <key>tree-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1116},{156,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,232}}</string>
                <key>sourceSize</key>
                <string>{156,232}</string>
            </dict>
            <key>tree-2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1327},{183,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,144}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tree-2-special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1327},{183,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,144}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>tree-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1208},{264,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>tree-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1316},{223,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,322}}</string>
                <key>sourceSize</key>
                <string>{223,322}</string>
            </dict>
            <key>tree-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,297},{382,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,122}}</string>
                <key>sourceSize</key>
                <string>{382,122}</string>
            </dict>
            <key>tree-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,800},{359,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,280}}</string>
                <key>sourceSize</key>
                <string>{359,280}</string>
            </dict>
            <key>tree-much.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,586},{222,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,467}}</string>
                <key>sourceSize</key>
                <string>{222,467}</string>
            </dict>
            <key>tree-p-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,689},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>tree-p-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{446,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,402}}</string>
                <key>sourceSize</key>
                <string>{446,402}</string>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,618},{312,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,330}}</string>
                <key>sourceSize</key>
                <string>{312,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B-single.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62f139cbfc841110c037b310ccc76b09:1/1$</string>
            <key>textureFileName</key>
            <string>B-single.png</string>
        </dict>
    </dict>
</plist>
