<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anm-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1282},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>anm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{146,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,193}}</string>
                <key>sourceSize</key>
                <string>{146,193}</string>
            </dict>
            <key>anm-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1646},{142,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{142,172}</string>
            </dict>
            <key>anm-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,206},{134,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,195}}</string>
                <key>sourceSize</key>
                <string>{134,195}</string>
            </dict>
            <key>anm-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{150,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,180}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>anm-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1464},{145,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,171}}</string>
                <key>sourceSize</key>
                <string>{145,171}</string>
            </dict>
            <key>anm-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1100},{168,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,150}}</string>
                <key>sourceSize</key>
                <string>{168,150}</string>
            </dict>
            <key>anm-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{148,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,172}}</string>
                <key>sourceSize</key>
                <string>{148,172}</string>
            </dict>
            <key>anm-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,685},{163,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,196}}</string>
                <key>sourceSize</key>
                <string>{163,196}</string>
            </dict>
            <key>anm-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{198,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,181}}</string>
                <key>sourceSize</key>
                <string>{198,181}</string>
            </dict>
            <key>anm-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,237}}</string>
                <key>sourceSize</key>
                <string>{120,237}</string>
            </dict>
            <key>anm-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,883},{141,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,164}}</string>
                <key>sourceSize</key>
                <string>{141,164}</string>
            </dict>
            <key>anm-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>anm-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{155,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,218}}</string>
                <key>sourceSize</key>
                <string>{155,218}</string>
            </dict>
            <key>anm-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,430},{159,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,195}}</string>
                <key>sourceSize</key>
                <string>{159,195}</string>
            </dict>
            <key>anm-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>anm-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,222},{124,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,206}}</string>
                <key>sourceSize</key>
                <string>{124,206}</string>
            </dict>
            <key>anm-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{188,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,232}}</string>
                <key>sourceSize</key>
                <string>{188,232}</string>
            </dict>
            <key>anm-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{122,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,211}}</string>
                <key>sourceSize</key>
                <string>{122,211}</string>
            </dict>
            <key>anm-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{162,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>anm-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>anm-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,475},{153,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,208}}</string>
                <key>sourceSize</key>
                <string>{153,208}</string>
            </dict>
            <key>sp-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,469},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,138},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1926},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-108.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,763},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>sp-109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1790},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1654},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-110.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1956},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>sp-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1019},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>sp-113.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1956},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>sp-115.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1518},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1382},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1246},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,469},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1110},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-122.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,974},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-123.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,838},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-124.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,741},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-125.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,605},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-126.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,333},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-129.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,469},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1948},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1812},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,197},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,333},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,539},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,197},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-136.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,403},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-137.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1676},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1826},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1540},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1690},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1826},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1404},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1554},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1690},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1268},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1418},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1554},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1132},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1282},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1418},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,996},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1146},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1282},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,860},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1010},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1146},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,763},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,874},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1010},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,627},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,874},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,627},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1906},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1770},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1634},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1950},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1814},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1498},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1678},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1860},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1362},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1542},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1724},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1226},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1406},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1588},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1090},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1270},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1452},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1909},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1773},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1637},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-80.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1820},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,883},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,134}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>sp-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,763},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Link.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c24adfa52d0c7df22c79dfbac357ad4c:1/1$</string>
            <key>textureFileName</key>
            <string>Link.png</string>
        </dict>
    </dict>
</plist>
